.app {
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.icon-sound {
  width: 18px;
  height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.btn-with-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
